<% provide(:title, @book.title ) %>

<div class="container-fluid"> 
  <div class="row">

    <div class="col-sm-9 col-md-10">

    <div class="container">
      <div class="page-header">
        <h1 class="book_title"><%= @book.title %></h1>
      </div>
      <div class="book-author-date"> by 
        <span class="author"><%= @book.user.name %> </span>
        <%= " on #{l @book.updated_at, :format => :long }" %>
      </div>
      <div class="book-genres">
        <% unless @book.genres.blank? %>
          Genres:
          <%= all_genres @book.genres %>
        <% end %>
      </div>
      <div class="image-book">
        <%= image_tag(@book.photo_orig) if @book.photo_orig? %></p>
      </div>
      <p>
        <%= sanitize(@book.content) %>
      </p>
      <%= link_to 'Back', :back, class: "btn btn-default btn-sm" %>
    </div>

  </div>
</div>